<div id="card" class="card p-2 m-2" id="event-details">
  <div class="card-body text-center">
    <a class="card-text text-capitalize font-weight-bold mb" id="card-title"
      href="/posts/{{id}}"><span>{{title}}</span></a>
    <p>{{content}}</p>
    <p class="card-info text-capitalize"><span><br>Posted by: {{User.name}} <br> {{moment createdAt format="dddd, MMMM
        Do YYYY"}} <br></span></p>
  </div>
</div>