<div class="row justify-content-center">
    <div id="card" class="card p-2 m-2 col-md-6 col-12">
        <h1 class="text-center text-capitalize">{{post.title}}</h1>
        <p id="post-id" style="display:none">{{post.id}}</p>
        <p id="postUserId" style="display:none">{{post.User.id}}</p>
        <p id="UserId" style="display:none">{{UserId}}</p>

    <br />

    <br />

    <ul class="card-body" style="list-style-type:none">
      <li class="card-text text-center">{{post.content}}<br /><br /></li>
      <li class="card-text text-capitalize"><span>Posted By:</span> {{post.User.name}}</li>
      <li class="card-text">{{moment post.createdAt format="dddd, MMMM Do YYYY"}}</li>
            <br>
            <button type="button" id='commentbtn' class="btn btn-primary" data-toggle="modal" data-target="#commentModal">Add a comment</button>
            <br><br>
            <button type="button" id='updatebtn' class="btn btn-warning" style="display:none">Update Post</button>
            <button type="button" id='deletebtn' class="btn btn-danger" style="display:none">Delete Post</button>
            <br><br>
            <li class="card-text" id="comments">Comments:</li>
        </ul>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span>Comment</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name-signup">Type away!</label>
                <input type="text" id="commentContent" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="commentSave" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/singlePost.js"></script>

